.gradient-pink {
  /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=ffd8e7&c2=ffa2c0&gt=l&gd=dbb
  */
  background: rgb(255, 216, 230);
  background: linear-gradient(0deg, rgb(255, 216, 230), rgb(255, 162, 192));
}

.gradient-pink {
  /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=ffd8e7&c2=ffa2c0&gt=l&gd=dbb
  */
  background: rgb(255, 216, 230);
  background: linear-gradient(0deg, rgb(255, 216, 230), rgb(255, 162, 192));
}

header {
  height: 100vh;
  width: 100%;
}

header > * {
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 500px) {
  header {
    height: 90vh;
  }
  main {
    height: 90vh;
  }
}
.div-first {
  width: 100%;
  height: 100%;
  position: relative;
}

@media (min-width: 500px) {
  .div-first {
    margin-left: 5%;
    margin-right: 20%;
    width: 60%;
    height: 85%;
  }
}
.portfolio-text.first {
  color: rgb(255, 158, 185);
  position: absolute;
  transform: rotate(270deg);
  top: 280px;
  left: -220px;
  font-size: 60px;
  font-weight: 800;
  margin: 0;
}

.portfolio-text.second {
  color: rgb(254, 255, 253);
  position: absolute;
  transform: rotate(270deg);
  top: 280px;
  left: -120px;
  font-size: 50px;
  letter-spacing: 0.2em;
  font-weight: 800;
}

.image.first {
  position: absolute;
}

.div-second {
  border: 2px solid rgb(105, 173, 244);
  width: 60%;
  height: 70%;
  position: absolute;
  top: 200px;
  left: 200px;
  z-index: 2;
}

@media (max-width: 500px) {
  .div-second {
    display: none;
  }
}
@media screen and (max-width: 1000px) and (min-height: 768px) {
  .portfolio-text.first {
    font-size: 80px;
    top: 300px;
    left: -180px;
  }
}
@media screen and (max-width: 768px) and (min-height: 500px) {
  .portfolio-text.first {
    font-size: 60px;
    letter-spacing: 0.1em;
    top: 220px;
    left: -150px;
  }
  .portfolio-text.second {
    top: 220px;
    left: -110px;
    font-size: 50px;
  }
}
@media screen and (max-width: 500px) and (max-height: 1000px) {
  .portfolio-text.first {
    font-size: 60px;
    letter-spacing: 0.1em;
    top: 280px;
    left: -220px;
  }
  .portfolio-text.second {
    top: 250px;
    left: -140px;
    font-size: 50px;
  }
}
@media screen and (max-width: 400px) and (min-height: 500px) {
  .portfolio-text.first {
    font-size: 60px;
    letter-spacing: 0.1em;
    top: 250px;
    left: -180px;
  }
  .portfolio-text.second {
    top: 250px;
    left: -140px;
    font-size: 50px;
  }
}
@media screen and (max-width: 400px) and (min-height: 600px) {
  .portfolio-text.first {
    font-size: 60px;
    letter-spacing: 0.2em;
    font-weight: 1200;
    top: 350px;
    left: -220px;
  }
  .portfolio-text.second {
    font-size: 50px;
    top: 350px;
    left: -160px;
    font-size: 50px;
  }
  .image.first {
    position: absolute;
    top: 50px;
    right: 3px;
    width: 60%;
    height: 65%;
  }
}
@media screen and (max-width: 500px) and (min-height: 768px) {
  .portfolio-text.first {
    font-size: 70px;
    top: 350px;
    left: -200px;
  }
  .portfolio-text.second {
    top: 250px;
    left: -120px;
    font-size: 50px;
  }
  .image.first {
    position: absolute;
    top: 200px;
    left: 120px;
    width: 60%;
    height: 40%;
  }
}
@media screen and (max-width: 400px) and (min-height: 768px) {
  .portfolio-text.first {
    font-size: 70px;
    top: 350px;
    left: -250px;
  }
  .portfolio-text.second {
    top: 250px;
    left: -140px;
    font-size: 50px;
  }
  .image.first {
    position: absolute;
    top: 200px;
    right: -50px;
    width: 60%;
    height: 40%;
  }
}
@media screen and (min-width: 500px) and (min-height: 600px) {
  .portfolio-text.first {
    font-size: 60px;
    letter-spacing: 0.1em;
    top: 220px;
    left: -180px;
  }
  .portfolio-text.second {
    font-size: 50px;
    letter-spacing: 0.1em;
    top: 270px;
    left: -120px;
  }
  .image.first {
    position: absolute;
    top: 200px;
    left: 30px;
    width: 50%;
    height: 60%;
  }
}
@media screen and (min-width: 768px) and (min-height: 1000px) {
  .portfolio-text.first {
    font-size: 70px;
    letter-spacing: 0.2em;
    top: 300px;
    left: -240px;
  }
  .portfolio-text.second {
    font-size: 50px;
    letter-spacing: 0.2em;
    top: 300px;
    left: -120px;
  }
  .image.first {
    position: absolute;
    top: 300px;
    left: 30px;
    width: 50%;
    height: 60%;
  }
}
@media screen and (min-width: 1000px) and (max-height: 768px) {
  .portfolio-text.first {
    font-size: 50px;
    letter-spacing: 0.1em;
    top: 180px;
    left: -130px;
  }
}
@media screen and (min-width: 1000px) and (max-height: 1000px) {
  .portfolio-text.first {
    font-size: 80px;
    letter-spacing: 0em;
    top: 240px;
    left: -220px;
    font-weight: 900;
  }
  .portfolio-text.second {
    font-size: 60px;
    letter-spacing: 0.1em;
    top: 240px;
    left: -150px;
    font-weight: 800;
  }
  .image.first {
    top: 100px;
    left: 210px;
    width: 60%;
    height: 70%;
  }
  .div-second {
    top: 70px;
    left: 250px;
    width: 60%;
    height: 70%;
  }
}
@media (max-width: 300px) and (max-height: 768px) {
  .portfolio-text.second {
    display: none;
  }
  .image.first {
    width: 50%;
    height: 70%;
  }
}
.gradient-pink {
  /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=ffd8e7&c2=ffa2c0&gt=l&gd=dbb
  */
  background: rgb(255, 216, 230);
  background: linear-gradient(0deg, rgb(255, 216, 230), rgb(255, 162, 192));
}

.dots-pattern {
  width: 115px;
  height: 115px;
  background-color: #f0f0f0; /* Background color */
  position: relative;
}

.dots-pattern::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.dots-pattern::before {
  background-image: radial-gradient(circle, rgb(255, 158, 185) 20%, transparent 20%);
  background-size: 30px 30px; /* Adjust the size of the dots */
}

.triangle {
  width: 0;
  height: 0;
  border-top: 115px solid transparent;
  border-left: 115px solid rgb(254, 255, 253); /* Adjust color and size as needed */
  position: relative;
}

.dots-container {
  width: 120px;
  height: 120px;
  position: absolute;
  right: -222px;
  top: 10px;
  z-index: 1;
}

@media (max-width: 500px) {
  .dots-container {
    display: none;
  }
}
.App {
  height: 100vh;
  border: 2px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(204, 204, 204);
}

.App > * {
  width: 45%;
}

main {
  display: block;
  background-color: rgb(253, 253, 253);
  border: 2px solid red;
  height: 80vh;
}

@media (max-width: 1000px) {
  main {
    display: none;
    border: 2px solid pink;
  }
  .App > * {
    width: 100%;
  }
}
.text-container {
  max-width: 100%; /* Ensure the container doesn't exceed its parent's width */
  padding: 20px; /* Adjust spacing as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin: 0; /* Remove default margin to avoid extra spacing */
  font-size: 16px; /* Set an initial font size */
}

@media screen and (max-width: 768px) {
  p {
    font-size: 22px;
  }
}
/* Further adjustments for smaller screens */
@media screen and (max-width: 480px) {
  p {
    font-size: 12px;
  }
}

/*# sourceMappingURL=App.css.map */
