.gradient-pink {
  /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=ffd8e7&c2=ffa2c0&gt=l&gd=dbb
  */
  background: rgb(255, 216, 230);
  background: linear-gradient(0deg, rgb(255, 216, 230), rgb(255, 162, 192));
}

.gradient-pink {
  /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=ffd8e7&c2=ffa2c0&gt=l&gd=dbb
  */
  background: rgb(255, 216, 230);
  background: linear-gradient(0deg, rgb(255, 216, 230), rgb(255, 162, 192));
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
}

.header::before {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  content: "";
  border: 2px dotted rgb(155, 175, 175);
}

.header__headline {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 7%;
  left: 5%;
  transform: translateX(50%);
}

.header__headline .h1 {
  text-shadow: rgb(254, 255, 253) 1px 0 10px;
  font-weight: 1000;
  color: rgb(155, 175, 175);
  z-index: 10;
}

.header__headline .h2 {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header__headline {
    position: absolute;
    top: 50%;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: rotate(-90deg) translateY(30vh) translateX(3vh);
    transform-origin: bottom left;
    white-space: nowrap;
    font-size: 35px;
    letter-spacing: 1.2;
  }
  .header__headline .h2 {
    display: block;
    color: rgb(254, 255, 253);
    z-index: 5;
    font-weight: 800;
    transform: translateY(-10vh);
    text-shadow: rgb(155, 175, 175) 1px 0 10px;
  }
}
.header__dots {
  width: 100%;
  height: 100%;
  display: block;
}

.header__dots > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header__dots .dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(155, 175, 175);
}

.header__dots-up {
  position: absolute;
  bottom: 10%;
  right: 5%;
  overflow: hidden;
  width: 15%;
  height: 7.5%;
}

.header__dots-down {
  position: absolute;
  bottom: 6%;
  left: 7%;
  display: block;
  overflow: hidden;
  width: 25%;
  height: 7.5%;
}

.header__info {
  position: absolute;
  top: 20%;
  left: 7%;
  width: 70%;
}

@media only screen and (min-width: 768px) {
  .header__info {
    width: 20%;
    left: 20%;
  }
}
.header__info--underline {
  text-decoration: underline;
}

.gradient-pink {
  /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=ffd8e7&c2=ffa2c0&gt=l&gd=dbb
  */
  background: rgb(255, 216, 230);
  background: linear-gradient(0deg, rgb(255, 216, 230), rgb(255, 162, 192));
}

.controlls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -5%;
}

@media only screen and (min-width: 768px) {
  .controlls {
    right: 5%;
  }
}
.controlls .control {
  padding: 3px;
  margin: 20px;
  background: linear-gradient(0deg, rgb(155, 175, 175), rgb(113, 147, 147));
  padding: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .controlls .control {
    padding: 6px;
  }
}
.controlls .control__link {
  position: relative;
  font-size: 0.8rem;
  color: #5b5858;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient-pink {
  /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=ffd8e7&c2=ffa2c0&gt=l&gd=dbb
  */
  background: rgb(255, 216, 230);
  background: linear-gradient(0deg, rgb(255, 216, 230), rgb(255, 162, 192));
}

main {
  height: 100vh;
  display: none;
}

@media only screen and (min-width: 1200px) {
  main {
    display: block;
    width: 45%;
    height: 90vh;
    background-color: rgb(255, 216, 230);
  }
}
.section.two {
  display: none;
}

.gradient-pink {
  /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=ffd8e7&c2=ffa2c0&gt=l&gd=dbb
  */
  background: rgb(255, 216, 230);
  background: linear-gradient(0deg, rgb(255, 216, 230), rgb(255, 162, 192));
}

.about {
  height: 100vh;
  width: 100%;
  position: relative;
}

.about::before {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  content: "";
  border: 2px dotted rgb(155, 175, 175);
}

.about__carousel {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 75%;
}

@media only screen and (min-width: 768px) {
  .about__carousel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.about__carousel .h3 {
  font-size: 10px;
  margin-bottom: 20px;
  color: rgb(155, 175, 175);
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .about__carousel .h3 {
    font-size: 20px;
  }
}
.about .carousel__element {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .about .carousel__element {
    flex-direction: row;
  }
}
.about .carousel-description {
  width: 100%;
}

.gradient-pink {
  /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=ffd8e7&c2=ffa2c0&gt=l&gd=dbb
  */
  background: rgb(255, 216, 230);
  background: linear-gradient(0deg, rgb(255, 216, 230), rgb(255, 162, 192));
}

.projects {
  min-height: 100vh;
  width: 100%;
}

.projects::before {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  content: "";
  border: 2px dotted rgb(155, 175, 175);
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 15% 85%;
  grid-template-areas: "headline headline" "carousel controlls";
}

@media only screen and (min-width: 768px) {
  .projects::before {
    grid-template-columns: 30% 60% 10%;
    grid-template-areas: "headline carousel controlls";
  }
}
.projects__container {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, 90%);
  grid-auto-rows: min-height(60vh);
  grid-gap: 20px;
  grid-row-gap: 20px;
}

@media only screen and (min-width: 768px) {
  .projects__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 45%);
  }
}
.projects__carousel {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 85%;
}

@media only screen and (min-width: 768px) {
  .projects__carousel {
    position: absolute;
    top: 15%;
    left: 20%;
    width: 60%;
  }
}
.projects .carousel__element {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .projects .carousel__element {
    flex-direction: row;
  }
}
.projects .carousel-description {
  width: 100%;
}

.project {
  padding: 20px;
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-areas: "headline headline" "links links" "image1 image2" "description description" "features features";
  grid-auto-columns: 50% 50%;
}

@media only screen and (min-width: 768px) {
  .project {
    grid-template-areas: "headline links" "image1 image2" "description description" "features features";
  }
}
.project__headline {
  grid-area: headline;
  font-family: "Lexend-bold";
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  display: flex;
}

.project__headline > * {
  padding: 5px;
}

.project__id {
  font-size: 20px;
  position: relative;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .project__id {
    font-size: 40px;
  }
}
.project__name {
  font-size: 20px;
  display: flex;
  align-items: flex-end;
}

.project__description {
  display: none;
}

@media only screen and (min-width: 768px) {
  .project__description {
    display: block;
    grid-area: description;
    font-family: "Lexend-medium";
    padding: 20px;
  }
}
.project__image1 {
  grid-area: image1;
  height: 100px;
}

@media only screen and (min-width: 768px) {
  .project__image1 {
    height: 200px;
  }
}
.project__image2 {
  grid-area: image2;
  height: 100px;
}

@media only screen and (min-width: 768px) {
  .project__image2 {
    height: 200px;
  }
}
.project__image1, .project__image2 {
  margin: 10px;
  box-shadow: 5px 5px 10px 0px rgb(7, 7, 48);
}

.project__image1 img, .project__image2 img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  object-fit: contain;
}

.project__features {
  grid-area: features;
  padding: 20px;
  font-family: "Lexend-light";
}

.project .features__element-number {
  width: 30px;
  height: 30px;
  font-family: "Lexend-bold";
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .project .features__element-number {
    font-size: 20px;
  }
}
.project__links {
  grid-area: links;
  font-size: 30px;
  position: relative;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project__links a {
  padding: 10px;
  color: red;
}

.project02 {
  background: linear-gradient(0deg, rgb(66, 230, 219), rgb(254, 255, 253));
}

.project04 {
  background: linear-gradient(0deg, rgb(255, 216, 230), rgb(254, 255, 253));
}

.project05 {
  background: linear-gradient(0deg, rgb(255, 216, 230), rgb(254, 255, 253));
}

.project06 {
  background: linear-gradient(0deg, #969ca2, rgb(254, 255, 253));
}

.project07 {
  background: linear-gradient(0deg, rgb(255, 162, 192), rgb(254, 255, 253));
}

.project08 {
  background: linear-gradient(0deg, rgb(167, 201, 245), rgb(254, 255, 253));
}

.gradient-pink {
  /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=ffd8e7&c2=ffa2c0&gt=l&gd=dbb
  */
  background: rgb(255, 216, 230);
  background: linear-gradient(0deg, rgb(255, 216, 230), rgb(255, 162, 192));
}

.contact {
  min-height: 100vh;
  width: 100%;
  color: rgb(35, 34, 34);
}

.contact__box {
  background: linear-gradient(0deg, rgb(155, 175, 175), rgb(248, 242, 242));
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media only screen and (min-width: 768px) {
  .contact__box {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    flex-direction: row;
  }
}
.contact__box > * {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .contact__box > * {
    width: 100%;
  }
}
.contact__contacts .contacts .list__element {
  margin-left: auto;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}

.contact__contacts .contacts .list__link {
  color: rgb(35, 34, 34);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(35, 34, 34);
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.form__input {
  width: 60%;
  margin-top: 10px;
  background: none;
  padding: 10px 8px;
  border-radius: 0.3em;
  border: 1px solid rgb(35, 34, 34);
  color: white;
}

.form__input:focus, .form__input:active {
  outline: none;
}

.form__label {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 18px;
}

.form__textarea {
  background: none;
  width: 60%;
  resize: none;
  overflow: hidden;
  margin-top: 10px;
  height: 40px;
  padding: 10px 8px;
  border-radius: 0.3em;
  border: 1px solid rgb(35, 34, 34);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
}

.form__textarea:focus, .form__textarea:active {
  outline: none;
}

.form__button {
  width: 60%;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 0.3em;
  background-color: rgb(117, 113, 113);
  color: rgb(254, 255, 253);
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  font-size: 1.5em;
  transition: 0.5s;
}

.form__button:active, .form__button:focus {
  outline: 0;
}

.form__button:hover {
  background-color: white;
}

.gradient-pink {
  /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=ffd8e7&c2=ffa2c0&gt=l&gd=dbb
  */
  background: rgb(255, 216, 230);
  background: linear-gradient(0deg, rgb(255, 216, 230), rgb(255, 162, 192));
}

.carousel {
  height: 250px;
  display: grid;
  grid-template-columns: 10fr 80fr 10fr;
  grid-template-areas: "prev carousel next";
}

.carousel__title {
  padding: 10px;
}

.carousel-slider__nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-slider__nav span {
  display: block;
  background: rgb(155, 175, 175);
  border-radius: 50%;
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-slider__nav span:hover {
  background-color: rgb(248, 242, 242);
  cursor: pointer;
}

.carousel__element {
  width: 100%;
  grid-column: 2/3;
  grid-row: 1/2;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: carousel;
}

.carousel--next {
  grid-column: 1/2;
  grid-row: 1/2;
  grid-area: next;
}

.carousel--prev {
  grid-column: 3/4;
  grid-row: 1/2;
  grid-area: prev;
}

.carousel-slider__wrapper {
  width: 40%;
  position: relative;
  color: rgb(254, 255, 253);
}

.carousel-description {
  width: 40%;
}

.carousel-slider__image {
  width: 100%;
  height: 100%;
  background-color: rgb(254, 255, 253);
  cursor: not-allowed;
}

.gradient-pink {
  /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=ffd8e7&c2=ffa2c0&gt=l&gd=dbb
  */
  background: rgb(255, 216, 230);
  background: linear-gradient(0deg, rgb(255, 216, 230), rgb(255, 162, 192));
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Bebas-regular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  color: rgb(117, 113, 113);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App {
  position: relative;
  max-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(248, 242, 242);
  color: rgb(117, 113, 113);
}

h4 {
  font-weight: normal;
}

h5 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.control__link {
  position: relative;
  font-size: 1.2rem;
  color: rgb(35, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
}

.none {
  display: none;
}

/*# sourceMappingURL=index.css.map */
