.gradient-pink {
  /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=ffd8e7&c2=ffa2c0&gt=l&gd=dbb
  */
  background: rgb(255, 216, 230);
  background: linear-gradient(0deg, rgb(255, 216, 230), rgb(255, 162, 192));
}

.gradient-pink {
  /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=ffd8e7&c2=ffa2c0&gt=l&gd=dbb
  */
  background: rgb(255, 216, 230);
  background: linear-gradient(0deg, rgb(255, 216, 230), rgb(255, 162, 192));
}

.header {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 10vh 60vh 40vh;
}

@media only screen and (min-width: 1200px) {
  .header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
  }
  .header::before {
    content: "";
    background: linear-gradient(0deg, rgb(253, 253, 253), rgb(25, 25, 71));
    grid-column: 1/3;
    grid-row: 1/3;
  }
}
.header .controlls {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .header .controlls {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 75%;
    align-items: end;
    flex-direction: column;
  }
}
.header .controlls .control {
  margin: 10px calc(10% - 30px) 0px 0px;
}

.header__text {
  display: none;
  color: rgb(253, 253, 253);
}

@media only screen and (min-width: 1200px) {
  .header__text {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: rotate(-90deg) translateY(30vh) translateX(3vh);
    transform-origin: bottom left;
    white-space: nowrap;
    font-size: 35px;
    letter-spacing: 1.2;
  }
  .header__text h1 {
    text-shadow: rgb(254, 255, 253) 1px 0 10px;
    font-weight: 1000;
    color: rgb(25, 25, 71);
    z-index: 10;
  }
  .header__text h2 {
    z-index: 5;
    font-weight: 800;
    transform: translateY(-10vh);
    text-shadow: rgb(25, 25, 71) 1px 0 10px;
  }
}
.header__info {
  grid-column: 2/3;
  grid-row: 3/4;
  font-size: 30px;
  color: rgb(253, 253, 253);
}

.header__info h3, .header__info h4, .header__info h5 {
  display: block;
}

.header__image {
  grid-column: 2/3;
  grid-row: 2/3;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__image img {
  z-index: 10;
  width: 80%;
  height: 80%;
}

@media only screen and (min-width: 768px) {
  .header__image::after {
    content: "";
    width: 50%;
    height: 75%;
    position: absolute;
    top: 0;
    right: 10%;
    border: 4px dotted rgb(253, 253, 253);
    border-radius: 5px;
  }
}
.header__dots {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header__dots div {
    width: 100%;
    height: 100%;
  }
  .header__dots div span {
    width: 7px;
    height: 7px;
    display: block;
    border-radius: 50%;
    background-color: rgb(254, 255, 253);
  }
  .header__dots-up {
    position: absolute;
    bottom: 10%;
    right: 0%;
    display: block;
    overflow: hidden;
    width: 15%;
    height: 7.5%;
  }
  .header__dots-down {
    position: absolute;
    bottom: 0%;
    left: 0%;
    display: block;
    overflow: hidden;
    width: 25%;
    height: 7.5%;
  }
}
.gradient-pink {
  /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=ffd8e7&c2=ffa2c0&gt=l&gd=dbb
  */
  background: rgb(255, 216, 230);
  background: linear-gradient(0deg, rgb(255, 216, 230), rgb(255, 162, 192));
}

.controlls {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  transition: all 0.8s ease 0s;
  z-index: 200;
}

.controlls .control {
  width: 40px;
  height: 30px;
  margin: 10px;
  background: linear-gradient(0deg, rgb(253, 253, 253), rgb(61, 61, 163));
  padding: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .controlls .control {
    margin: 20px;
    width: 60px;
    height: 40px;
  }
}
.controlls .control__link {
  position: relative;
  font-size: 1.2rem;
  color: rgb(7, 7, 48);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .controlls .control {
    border-radius: 0;
  }
}
.gradient-pink {
  /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=ffd8e7&c2=ffa2c0&gt=l&gd=dbb
  */
  background: rgb(255, 216, 230);
  background: linear-gradient(0deg, rgb(255, 216, 230), rgb(255, 162, 192));
}

main {
  height: 100vh;
  display: none;
}

@media only screen and (min-width: 1200px) {
  main {
    display: block;
    width: 45%;
    height: 90vh;
    background-color: rgb(255, 216, 230);
  }
}
.section.two {
  display: none;
}

.gradient-pink {
  /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=ffd8e7&c2=ffa2c0&gt=l&gd=dbb
  */
  background: rgb(255, 216, 230);
  background: linear-gradient(0deg, rgb(255, 216, 230), rgb(255, 162, 192));
}

.about {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

@media only screen and (min-width: 1200px) {
  .about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    height: 90vh;
    grid-template-rows: 10vh 80vh;
  }
}
.about .controlls {
  grid-column: 1/3;
  grid-row: 1/2;
}

.about__container {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

@media only screen and (min-width: 768px) {
  .about__container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }
  .about__container > * {
    width: 49%;
    height: 45vh;
    display: grid;
    grid-template-rows: 20% 80%;
  }
}
.about__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__image img {
  width: 70%;
  height: 70%;
  border: none;
}

.about__image::after {
  content: "";
  width: 40%;
  height: 50%;
  position: absolute;
  left: 40%;
  top: 20%;
  border: 4px dotted rgb(105, 173, 244);
  border-radius: 5px;
  z-index: -2;
}

@media only screen and (min-width: 768px) {
  .about__part.first {
    transform: translateY(-100px);
  }
}
.about__part.first h4 {
  color: rgb(231, 128, 211);
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.about__part.second {
  position: relative;
  box-sizing: border-box;
}

.about__part.second h3 {
  color: rgb(231, 128, 211);
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.carousel {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.carousel__title {
  padding: 10px;
}

.carousel-slider__nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-slider__nav span {
  display: block;
  background: rgb(255, 216, 230);
  border-radius: 50%;
  font-size: 32px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-slider__nav span:hover {
  background-color: rgb(231, 128, 211);
  cursor: pointer;
}

.carousel__element {
  width: 100%;
  grid-column: 2/3;
  grid-row: 1/2;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel--next {
  grid-column: 1/2;
  grid-row: 1/2;
}

.carousel--prev {
  grid-column: 3/4;
  grid-row: 1/2;
}

.carousel-slider__wrapper {
  width: 40%;
  position: relative;
}

.carousel-slider__wrapper::before {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  width: 70%;
  height: 70%;
  border: 3px dotted rgb(255, 158, 185);
}

.carousel-description {
  width: 40%;
  background-color: rgb(231, 128, 211);
}

.carousel-slider__image {
  width: 70%;
  height: 70%;
  background-color: rgb(231, 128, 211);
  cursor: not-allowed;
}

.gradient-pink {
  /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=ffd8e7&c2=ffa2c0&gt=l&gd=dbb
  */
  background: rgb(255, 216, 230);
  background: linear-gradient(0deg, rgb(255, 216, 230), rgb(255, 162, 192));
}

.projects {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20vh;
}

.projects .controlls {
  grid-column: 1/3;
  grid-row: 1/2;
  position: relative;
}

.projects__container {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, 90%);
  grid-auto-rows: 60vh;
  grid-gap: 20px;
  grid-row-gap: 20px;
}

@media only screen and (min-width: 768px) {
  .projects__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 45%);
    grid-auto-rows: 60vh;
  }
}
.project {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "headline headline" "links links" "image1 image2" "description description" "features features";
  grid-template-rows: 10% 10% 20% 20% 50%;
}

@media only screen and (min-width: 768px) {
  .project {
    grid-template-areas: "headline links" "image1 image2" "description features";
    grid-auto-columns: 50% 50%;
    grid-template-rows: 20% 30% 50%;
  }
}
.project__headline {
  grid-area: headline;
  font-family: "Lexend-bold";
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  display: flex;
}

.project__headline > * {
  padding: 5px;
}

.project__id {
  font-size: 40px;
  position: relative;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__name {
  font-size: 20px;
  display: flex;
  align-items: flex-end;
}

.project__description {
  grid-area: description;
  font-family: "Lexend-medium";
  padding: 20px;
}

.project__image1 {
  grid-area: image1;
}

.project__image2 {
  grid-area: image2;
}

.project__image1 img, .project__image2 img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  object-fit: contain;
}

.project__features {
  grid-area: features;
  padding: 20px;
  font-family: "Lexend-light";
}

.project .features__element-number {
  width: 30px;
  height: 30px;
  font-family: "Lexend-bold";
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.project__links {
  grid-area: links;
  font-size: 30px;
  position: relative;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project__links a {
  padding: 10px;
  color: red;
}

.project01 {
  background: linear-gradient(0deg, rgb(255, 216, 230), rgb(254, 255, 253));
}

.project02 {
  background: linear-gradient(0deg, rgb(66, 230, 219), rgb(254, 255, 253));
}

.project03 {
  background: linear-gradient(0deg, rgb(66, 230, 219), rgb(254, 255, 253));
}

.project04 {
  background: linear-gradient(0deg, rgb(255, 216, 230), rgb(254, 255, 253));
}

.project05 {
  background: linear-gradient(0deg, rgb(255, 216, 230), rgb(254, 255, 253));
}

.project06 {
  background: linear-gradient(0deg, #969ca2, rgb(254, 255, 253));
}

.project07 {
  background: linear-gradient(0deg, rgb(255, 162, 192), rgb(254, 255, 253));
}

.project08 {
  background: linear-gradient(0deg, rgb(167, 201, 245), rgb(254, 255, 253));
}

.gradient-pink {
  /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=ffd8e7&c2=ffa2c0&gt=l&gd=dbb
  */
  background: rgb(255, 216, 230);
  background: linear-gradient(0deg, rgb(255, 216, 230), rgb(255, 162, 192));
}

.contact {
  min-height: 100vh;
  width: 100%;
  color: rgb(35, 34, 34);
}

.contact__headline {
  position: relative;
  margin-top: 5rem;
}

.contact__box {
  background-color: rgb(255, 216, 230);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .contact__box {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    flex-direction: row;
  }
}
.contact__box > * {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .contact__box > * {
    width: 100%;
  }
}
.contact__contacts .contacts .list__element {
  margin-left: auto;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}

.contact__contacts .contacts .list__link {
  color: rgb(35, 34, 34);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(35, 34, 34);
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.form__input {
  width: 60%;
  margin-top: 10px;
  background: none;
  padding: 10px 8px;
  border-radius: 0.3em;
  border: 1px solid rgb(35, 34, 34);
  color: white;
}

.form__input:focus, .form__input:active {
  outline: none;
}

.form__label {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 18px;
}

.form__textarea {
  background: none;
  width: 60%;
  resize: none;
  overflow: hidden;
  margin-top: 10px;
  height: 40px;
  padding: 10px 8px;
  border-radius: 0.3em;
  border: 1px solid rgb(35, 34, 34);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
}

.form__textarea:focus, .form__textarea:active {
  outline: none;
}

.form__button {
  width: 60%;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 0.3em;
  background-color: rgb(7, 7, 48);
  color: rgb(254, 255, 253);
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  font-size: 1.5em;
  transition: 0.5s;
}

.form__button:active, .form__button:focus {
  outline: 0;
}

.form__button:hover {
  background-color: white;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Bebas-regular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App {
  position: relative;
  max-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(7, 7, 48);
}

h4 {
  font-weight: normal;
}

h5 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.control__link {
  position: relative;
  font-size: 1.2rem;
  color: rgb(35, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
}

.headline--h3 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 20px 0 20px 0;
  color: rgb(35, 34, 34);
}
@media only screen and (min-width: 768px) {
  .headline--h3 {
    font-size: 1.5rem;
  }
}

.headline--h4 {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 20px 0 20px 0;
  text-transform: uppercase;
  color: rgb(35, 34, 34);
}
@media only screen and (min-width: 768px) {
  .headline--h4 {
    font-size: 1.2rem;
  }
}

.headline--h5 {
  text-align: center;
  font-size: 0.9rem;
  color: rgb(35, 34, 34);
}
@media only screen and (min-width: 768px) {
  .headline--h5 {
    font-size: 1.1rem;
  }
}

/*# sourceMappingURL=index.css.map */
