$color-white: rgb(254, 255, 253);
$color-darkpink: rgb(255, 158, 185);
$color-mediumpink: rgb(255, 162, 192);
$color-lightpink: rgb(255, 216, 230);
$color-lightblue: rgb(122, 161, 212);
$color-darkblue: rgb(105, 173, 244);
$color-background: rgb(253, 253, 253);

body {
    background-color: $color-darkblue;
}
