@import '../abstracts/index';

.dots-pattern {
    width: 115px;
    height: 115px;
    background-color: #f0f0f0; /* Background color */
    position: relative;
  }
  
  .dots-pattern::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
  
  .dots-pattern::before {
    background-image: radial-gradient(circle, $color-darkpink 20%, transparent 20%);
    background-size: 30px 30px; /* Adjust the size of the dots */
  }


.triangle {
    width: 0;
    height: 0;
    border-top: 115px solid transparent;
    border-left: 115px solid $color-white; /* Adjust color and size as needed */
    position: relative;
  }


.dots-container {
    width: 120px;
    height: 120px;
    position: absolute;
    right: -222px;
    top: 10px;
    z-index: 1;
}

@media(max-width: $layout-breakpoint-small) {
    .dots-container {
        display: none;
    }
}