@use '../../sass/abstracts/colors';
@use '../../sass/abstracts/media-query';

.header {
    background-color: colors.$color-background;
    border: 2px solid blue;

    &::before {
        content: '';
        background: colors.$color-lightpink;
background: linear-gradient(0deg, colors.$color-lightpink, colors.$color-mediumpink);
width: 500px;
height: 800px;
}
}