@import '../abstracts/index';

header {
    height: 100vh;
    width: 100%;
}

header>* {
    width: 100%;
    box-sizing: border-box;
}

@media(min-width: $layout-breakpoint-small) {

    header {
        height: 90vh;
    }

    main {
        height: 90vh;
    }
}


.div-first {

    width: 100%;
    height: 100%;
    position: relative;
}


@media(min-width: $layout-breakpoint-small) {
    .div-first {
        margin-left: 10%;
        margin-right: 20%;
        width: 70%;
        height: 80%;
    }
}



.portfolio-text.first {
    color: $color-darkpink;
    position: absolute;
    transform: rotate(270deg);
    top: 280px;
    left: -220px;
    font-size: 60px;
    font-weight: 800;
    margin: 0;
}

.portfolio-text.second {
    color: $color-white;
    position: absolute;
    transform: rotate(270deg);
    top: 280px;
    left: -120px;
    font-size: 50px;
    letter-spacing: 0.2em;
    font-weight: 800;
}

.image.first {
    position: absolute;
    top: 200px;
    right: 200px;
    width: 60%;
    border: 7px solid orange;
}
@media screen and (max-width: $layout-breakpoint-large) and (min-height: $layout-breakpoint-medium ) {
    .portfolio-text.first {
        font-size: 80px;
        top: 300px;
        left: -180px;
    }
}





@media screen and (max-width: $layout-breakpoint-medium) and (min-height: $layout-breakpoint-small ) {
    .portfolio-text.first {
        font-size: 60px;
        letter-spacing: 0.1em;
        top: 220px;
        left: -150px;
    }
    .portfolio-text.second {
        top: 220px;
        left: -110px;
        font-size: 50px;
    }
}

@media screen and (max-width: $layout-breakpoint-small) and (max-height: $layout-breakpoint-large ) {
    .portfolio-text.first {
        font-size: 60px;
        letter-spacing: 0.1em;
        top: 280px;
        left: -220px;
    }
    .portfolio-text.second {
        top: 250px;
        left: -140px;
        font-size: 50px;
    }
}

@media screen and (max-width: $layout-breakpoint-xsmall) and (min-height: $layout-breakpoint-small ) {
    .portfolio-text.first {
        font-size: 60px;
        letter-spacing: 0.1em;
        top: 250px;
        left: -180px;
    }
    .portfolio-text.second {
        top: 250px;
        left: -140px;
        font-size: 50px;
    }
}

@media screen and (max-width: $layout-breakpoint-xsmall) and (min-height: $layout-breakpoint-xmedium ) {
    .portfolio-text.first {
        font-size: 60px;
        letter-spacing: 0.2em;
        font-weight: 1200;
        top: 350px;
        left: -220px;
    }
    .portfolio-text.second {
        font-size: 50px;
        top: 350px;
        left: -160px;
        font-size: 50px;
    }
    .image.first {
        position: absolute;
        top: 200px;
        left: 3px;
        width: 60%;
        height: 80%;
       
    }
}



@media screen and (max-width: $layout-breakpoint-small) and (min-height: $layout-breakpoint-medium ) {
    .portfolio-text.first {
        font-size: 70px;
        top: 350px;
        left: -200px;
    }
    .portfolio-text.second {
        top: 250px;
        left: -120px;
        font-size: 50px;
    }
    .image.first {
        position: absolute;
        top: 200px;
        right: 200px;
        width: 60%;
        height: 40%;
        border: 7px solid orange;
    }
}


@media screen and (max-width: $layout-breakpoint-xsmall) and (min-height: $layout-breakpoint-medium ) {
    .portfolio-text.first {
        font-size: 70px;
        top: 350px;
        left: -250px;
    }
    .portfolio-text.second {
        top: 250px;
        left: -140px;
        font-size: 50px;
    }
    .image.first {
        position: absolute;
        top: 200px;
        right: 200px;
        width: 60%;
        height: 40%;
        border: 7px solid orange;
    }
}

@media screen and (min-width: $layout-breakpoint-small) and (min-height: $layout-breakpoint-xmedium ) {
    .portfolio-text.first {
        font-size: 60px;
        letter-spacing: 0.1em;
        top: 220px;
        left: -180px;
    }
    .portfolio-text.second {
        font-size: 50px;
        letter-spacing: 0.1em;
        top: 270px;
        left: -120px;
    }
    .image.first {
        position: absolute;
        top: 200px;
        left: 30px;
        width: 50%;
        height: 60%;
    }
}
@media screen and (min-width: $layout-breakpoint-medium) and (min-height: $layout-breakpoint-large ) {
    .portfolio-text.first {
        font-size: 70px;
        letter-spacing: 0.2em;
        top: 300px;
        left: -240px;
    }
    .portfolio-text.second {
        font-size: 50px;
        letter-spacing: 0.2em;
        top: 300px;
        left: -120px;
    }
    .image.first {
        position: absolute;
        top: 300px;
        left: 30px;
        width: 50%;
        height: 60%;
    }
}


@media screen and (min-width: $layout-breakpoint-large) and (max-height: $layout-breakpoint-medium ) {
    .portfolio-text.first {
        font-size: 50px;
        letter-spacing: 0.1em;
        top: 180px;
        left: -130px;
    }
}

@media screen and (min-width: $layout-breakpoint-large) and (max-height: $layout-breakpoint-large ) {
    .portfolio-text.first {
        font-size: 50px;
        letter-spacing: 0.1em;
        top: 180px;
        left: -130px;
    }
    .portfolio-text.second {
        font-size: 40px;
        letter-spacing: 0.1em;
        top: 180px;
        left: -70px;
    }
}



// .portfolio-text.second {
//     color: $color-white;
//     transform: rotate(270deg) translateY(-135%) translateX(-70%);
//     font-size: 3.5rem;
//     letter-spacing: 0.2em;
//     font-weight: 800;
// }



.div-second {}

// @media(max-height: $layout-breakpoint-medium) {
//     .portfolio-text {
//         transform: rotate(270deg) translateY(-120%) translateX(-100%);
//         font-size: 5rem;
//         letter-spacing: 0.1em;
//         font-weight: 1200;
//       }
// }

@media (max-width: $layout-breakpoint-xxsmall) and (max-height:$layout-breakpoint-medium ) {

    // .portfolio-text.first {
    //     transform: rotate(270deg) translateY(-120%) translateX(-120%);
    //     font-size: 4rem;
    //     letter-spacing: 0.1em;
    //     font-weight: 1200;
    // }
    .portfolio-text.second {
        display: none;
    }

    .image.first {
        width: 50%;
        height: 70%;
        transform: translateY(-20%) translateX(70%);
    }
}


@media(min-width: $layout-breakpoint-small) and (max-height:$layout-breakpoint-medium ) {

    // .portfolio-text.first {
    //     transform: rotate(270deg) translateY(-220%) translateX(-50%);
    //     font-size: 3rem;
    //     letter-spacing: 0.1em;
    //     font-weight: 1200;
    // }
    // .portfolio-text.second {
    //     transform: rotate(270deg) translateY(-280%) translateX(-20%);
    //     font-size: 2rem;
    //     letter-spacing: 0.1em;
    //     font-weight: 1200;
    // }
}

@media(min-width: $layout-breakpoint-large) and (max-height:$layout-breakpoint-medium ) {
    // .portfolio-text.first {
    //     transform: rotate(270deg) translateY(-200%) translateX(-50%);
    //     font-size: 3rem;
    //     letter-spacing: 0.1em;
    //     font-weight: 1200;
    // }
}

@media(min-height: $layout-breakpoint-medium) {
    // .portfolio-text.first {
    //     color: $color-darkpink;
    //     transform: rotate(270deg) translateY(-180%) translateX(-50%);
    //     font-size: 4rem;
    //     letter-spacing: 0.2em;
    //     font-weight: 1000;

    //}
}

@media(max-width: $layout-breakpoint-small) and (min-height:$layout-breakpoint-medium ) {

    // .portfolio-text.first {
    //     transform: rotate(270deg) translateY(-140%) translateX(-120%);
    //     font-size: 4.8rem;
    //     letter-spacing: 0.3em;
    //     font-weight: 1200;
    // }
    // .portfolio-text.second {
    //     transform: rotate(270deg) translateY(-150%) translateX(-70%);
    //     font-size: 3.5rem;
    //     letter-spacing: 0.3em;
    //     font-weight: 1200;
    // }

   
}

@media(min-width: $layout-breakpoint-small) and (min-height:$layout-breakpoint-medium ) {
    // .portfolio-text.first {
    //     transform: rotate(270deg) translateY(-160%) translateX(-120%);
    //     font-size: 4.5rem;
    //     letter-spacing: 0.3em;
    //     font-weight: 1200;
    // }
}

@media(min-width: $layout-breakpoint-medium) and (min-height:$layout-breakpoint-large ) {

    // .portfolio-text.first {
    //     transform: rotate(270deg) translateY(-200%) translateX(-60%);
    //     font-size: 5rem;
    //     letter-spacing: 0.2em;
    //     font-weight: 1200;
    // }
    // .portfolio-text.second {
    //     transform: rotate(270deg) translateY(-270%) translateX(-30%);
    //     font-size: 3rem;
    //     letter-spacing: 0.2em;
    //     font-weight: 1200;
    // }
}

@media(min-width: $layout-breakpoint-medium) and (min-height:$layout-breakpoint-xlarge ) {

    // .portfolio-text.first {
    //     transform: rotate(270deg) translateY(-205%) translateX(-75%);
    //     font-size: 6rem;
    //     letter-spacing: 0.3em;
    //     font-weight: 1200;
    // }
    // .portfolio-text.second {
    //     transform: rotate(270deg) translateY(-260%) translateX(-40%);
    //     font-size: 4rem;
    //     letter-spacing: 0.3em;
    //     font-weight: 1200;
    // }
}

@media(min-width: $layout-breakpoint-xlarge) and (min-height:$layout-breakpoint-medium ) {

    // .portfolio-text.first {
    //     transform: rotate(270deg) translateY(-220%) translateX(-50%);
    //     font-size: 3rem;
    //     letter-spacing: 0.2em;
    //     font-weight: 900;
    // }
    // .portfolio-text.second {
    //     transform: rotate(270deg) translateY(-280%) translateX(-30%);
    //     font-size: 2rem;
    //     letter-spacing: 0.2em;
    //     font-weight: 900;
    // }

}