@import '../abstracts/index';

.about {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
   
    @include respond(tablet) {
        display: grid;
        grid-template-areas: 
        'controlls controlls'
        'first second';
        grid-template-columns: 40% 60%;
        grid-template-rows: 15vh 85vh;
    }

        &__controlls {
    
            background-color: rgb(254, 255, 253);
    width: 100%;
    height: 5rem;
    margin-top: -5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px;
    top: 0px;
    transition: all 0.8s ease 0s;
    z-index: 200;
        }
    
    &__part.first {
        margin-top: 5rem;
        background-color: $color-white;
        grid-area: first;
     
        @include respond(tablet) {
          width: 100%;
        }
    }
    &__part.second {
        width: 100%;
        height: 85vh;
        position: relative;
        grid-area: second;
        border: 5px solid green;
        box-sizing: border-box;
        display: grid;
        grid-template-areas: 
        'title'
        'features';
        grid-template-rows: 10% 90%;
        
        @include respond(tablet) {
            
        //    &::after {
        //     display: block;
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        //     transform:  rotate(-90deg) translateX(50px) translateY(50px);
        //     width: 150px;
        //     height: 150px;
        //     border-radius: 200px 0 0 0;
        //     border: 40px solid $color-lightpink; /* Set the border width and color */
        // }   
        }
        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 40%;
            height: 100%;
            background-color: $color-lightpink;
        }

      
    }

   
}
.second {
      &__title {
            grid-area: title;
            z-index: 2;
            position: relative;
        }
        &__features {
            grid-area: features;
            padding: 10px;
        }
}


