@import '../abstracts/index';

.about {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    @include respond(desktop) {
      @include absCenter();
      height: 90vh;
      grid-template-rows: 10vh 80vh;
    }
    .controlls {
      grid-column: 1/3;
      grid-row: 1/2;
    }
    &__container {
      grid-column: 1/3;
      grid-row: 2/3;
      display: flex;
      flex-direction: column;
      padding: 0 10px;
        
        @include respond(tablet) {
            flex-direction: row;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 40px;
            & > * {
              width: 49%;
              height: 45vh;
              display: grid;
              grid-template-rows: 20% 80%;
            }
        }
    }

    &__image {
     
       @include flexAbsoluteCenter();
      img {
        width: 70%;
        height: 70%;
        border: none;

      }
      &::after {
        content: '';
        width: 40%;
        height: 50%;
        position: absolute;
        left: 40%;
        top: 20%;
        border: 4px dotted $color-white;
        border-radius: 5px;
        z-index: -2;
      }
    }
    &__part {
      background: linear-gradient(0deg, $color-background, $color-mediumnavy);
      color: $color-white;
    
      text-align: center;
    }
   
    &__part.first {
 
        @include respond(tablet) {
          transform: translateY(-100px);
        }
        h4 {
       
          font-size: 25px;
          font-weight: 700;
          margin-bottom: 10px;
          text-transform: uppercase;
        }
    }
    &__part.second {
        position: relative;
        box-sizing: border-box;
        transform: translateY(100px);
        h3 {
         
          font-size: 25px;
          font-weight: 700;
          margin-bottom: 10px;
          text-transform: uppercase;
        }  
      }
}



.carousel {
    position: relative;
    width: 100%;
  
    display: grid;
    grid-template-columns: 10% 80% 10%;

    &__title {
      padding: 10px;
    }
   
    &-slider__nav {
      width: 100%;
   
      @include flexAbsoluteCenter();
      span {
        display: block;
        background: $color-mediumnavy;
        border-radius: 50%;
        font-size: 32px;
        height: 50px;
        width: 50px;
        @include flexAbsoluteCenter();
         &:hover {
          background-color: $color-darknavy;
          cursor: pointer;
      }
      }
    }
      &__element {
        width: 100%;
        grid-column: 2/3;
        grid-row: 1/2;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
    &--next {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    &--prev {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    
    &-slider__wrapper {
      width: 40%;
      position: relative;
      color: $color-white;
    }
  
    &-description {
      width: 40%;
      font-size: 25px;
      color: $color-darknavy;
    }
  
    &-slider__image {
      width: 100%;
      height: 100%;
      background-color: $color-white;
      cursor: not-allowed;
    }
}


