@import '../abstracts/index';

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-300%) translateY(-50%);
  }
  100% {
    opacity: 1;
    @include absCenter()
  }
}

.about {
  animation: slideInLeft 0.75s ease both;
  &__carousel {
    width: 80%;
    height: 100%;
    // @include absCenter();
    display: flex;
    flex-direction: column;
    text-align: start;
    @include respond(tablet){
      background-color: $color-contrast;
      color: $color-font-light;
      @include absCenter();
      width: 50%;
      height: 30%;
    }
    position: relative;
    @include flexAbsoluteCenter();
  }
  &__link {
    color: $color-contrast;
    @include respond(tablet) {
      color: $color-font-light;
      font-weight: 600;
    }
  }

    
  &__title {
      font-size: 10px;
      @include respond(tablet){
          font-size: 20px;
      }
      margin-bottom: 20px;
      color: $color-contrast;
      text-align: center;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .carousel__element {
    display: flex;
    flex-direction: column;
    @include respond(tablet){
      flex-direction: row;
    }
  }

  .carousel-description {
    width: 100%;
  }

