@import '../abstracts/index';

.contact {
   background: linear-gradient(0deg, $color-darkblue, $color-white);
  min-height: 100vh;
  width: 100%;
  
  &__headline {
    color: $color-grey;
    position: relative;
    margin-top: 5rem;
  }

  &__box {
  
    width: 100%;
    box-sizing: border-box;
    display: flex;
   
    flex-direction: column;
 
    padding: 1rem;
  
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    border-radius: 0.5rem;
    background-color: white;

    display: flex;
    justify-content: space-between;
    justify-content: center;
    width: 390px;
    padding: 2rem;
    margin: 0px 3rem 3rem;
    gap: 3rem;
    max-width: 1200px;

    @include respond(tablet) {
      box-sizing: border-box;
        @include absCenter();
        width: 50%;
      flex-direction: row;
    }
    &>* {
      width: 100%;
      @include respond(tablet) {
        width: 100%;
      }
    }

  }

  &__contacts {
  
    .contacts {
      .list {
         &__element {
         margin-left: auto;
         display: flex;
         justify-content: flex-start;
         padding: 5px;
   
      }
   
      &__link {
        color: $color-grey;
         font-size: 1rem;
         @include flexAbsoluteCenter;
         text-wrap: nowrap;
      }
      }
    }
  
  }

  &__form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color-grey;
  }

}

.form {
  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    color: $color-grey;
  }
  &__input {
      width: 60%;
      margin-top: 10px;
      background: none;
      padding: 10px 8px;
      border-radius: 0.3em;
      border: 1px solid $color-lightgrey;
      color: white;
      &:focus, &:active {
        outline: none;
      }
  }
  &__label {
      text-transform: capitalize;
      font-weight: 500;
  }
  &__textarea {
    background: none;
    width: 60%;
    resize: none;
    overflow: hidden;
    margin-top: 10px;
    height: 40px;
    padding: 10px 8px;
    border-radius: 0.3em;
    border: 1px solid $color-lightgrey;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    &:focus, &:active {
      outline: none;
    }
  }
  &__button {
      width: 60%;
      margin-bottom: 15px; 
      padding: 5px;
      border-radius: 0.3em;
      background-color: $color-lightgrey;
      color: $color-white; 
      border: none;
      box-shadow: none;
      box-sizing: border-box;
      cursor: pointer;
      position: relative;
      font-weight: bold;
      font-size: 1.5em;
      transition: 0.5s;
      &:active, &:focus {
        outline: 0;
      }
      &:hover {
        background-color:  white;;
      }
  }
  }

  
