@import '../abstracts/index';

.contact {
  height: 100%;
  width: 100%;
  color: $color-font-dark;
  &__box {
    background: linear-gradient(
      0deg,
      $color-contrast,
      $color-background-light
    );
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    @include respond(tablet) {
      padding: 20px;
      box-sizing: border-box;
    @include absCenter();
      width: 70%;
      display: grid;
      grid-template-columns: 50% 50%;
    }
    & > * {
      width: 100%;
      @include respond(tablet) {
        width: 50%;
      }
    }
  }

  &__contacts {
    @include respond(tablet){
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 50%;
      grid-column: 1/2;
    }
    .contacts {
 
      .list {
        &__element {
          margin-left: auto;
          display: flex;
          justify-content: flex-start;
          padding: 5px;
        }

        &__link {
          color: $color-font-dark;
          font-size: 1rem;
          @include flexAbsoluteCenter;
          text-wrap: nowrap;
        }

        &__icon {
          padding: 10px;
          @include respond(tablet){
            padding: 20px;
          }
        }
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color-font-dark;
    width: 50%;
    grid-column: 2/3;
  }
}

.form {
  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }
  &__input {
    width: 60%;
    margin-top: 10px;
    background: none;
    padding: 10px 8px;
    border-radius: 0.3em;
    border: 1px solid $color-font-dark;
    color: $color-font-light;
    &:focus,
    &:active {
      outline: none;
    }
  }
  &__label {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 18px;
  }
  &__textarea {
    background: none;
    width: 60%;
    resize: none;
    overflow: hidden;
    margin-top: 10px;
    height: 40px;
    padding: 10px 8px;
    border-radius: 0.3em;
    border: 1px solid $color-font-dark;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    &:focus,
    &:active {
      outline: none;
    }
  }
  &__button {
    width: 60%;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 0.3em;
    background-color: $color-font-dark;
    color: $color-font-light;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    font-size: 1.5em;
    transition: 0.5s;
    &:active,
    &:focus {
      outline: 0;
    }
    &:hover {
      background-color: $color-font-light
    }
  }
}
