@import '../abstracts/index';

main {
    height: 100vh;
    display: none;
    @include respond(desktop) {
        display: block;
        width: 45%;
        height: 90vh;
        background-color: $color-lightpink;
    }
}