@import '../abstracts/index';

.features {
    &__headline {
        margin: 0;
    }
    &__list {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
    }

}

.features__element {

    font-family: 'Lexend-light';
    display: grid;
    grid-template-rows: repeat(2, 50%);
    margin: 5px 0;

    &-number {
        grid-row: 1 / 2;
        display: block;
        width: 30px;
        height: 30px;
        color: $color-lightpink;
        font-family: 'Lexend-bold';
        font-size: 20px;
        @include flexAbsoluteCenter();
        border-radius: 50%;
        background-color: $color-red;
        color: $color-white;
    }

}

.projects {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;

    @include respond(tablet) {
        padding: 20px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        flex: 1 1 0%;
        margin: 5rem auto 0px;

        &>* {
            height: 100vh;
        }

        @include respond(tablet) {
            display: grid;
            grid-template-columns: repeat(2, 50%);
        }
    }

    &__controlls {
        background-color: $color-white;
        width: 100%;
        height: 5rem;
        margin-top: -5rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: sticky;
        box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px;
        top: 0px;
        transition: all 0.8s ease 0s;
        z-index: 200;
    }
}

.project {
    width: 100%;
    height: calc(100vh - 5rem);
    padding: 10px;
    display: grid;
    grid-template-areas:
        'headline headline'
        'links links'
        'image1 image2'
        'description description'
        'features features';
    grid-template-rows: 10% 10% 20% 20% 50%;

    @include respond(tablet) {
        grid-template-areas:
            'headline links'
            'image1 image2'
            'description features';
        grid-auto-columns: 50% 50%;
        grid-template-rows: 20% 30% 50%;
    }

    &__headline {
        grid-area: headline;
        font-family: 'Lexend-bold';
        text-transform: uppercase;
        width: 100%;
        height: 100%;
        display: flex;

        &>* {
            padding: 5px;
        }
    }

    &__id {
        font-size: 40px;
        position: relative;
        height: 60%;
        @include flexAbsoluteCenter();
    }

    &__name {
        font-size: 20px;
        display: flex;
        align-items: flex-end;
    }

    &__description {
        grid-area: description;
        font-family: 'Lexend-medium';
        padding: 20px;
    }

    &__image1 {
        grid-area: image1;
    }

    &__image2 {
        grid-area: image2;
    }

    &__features {
        grid-area: features;
        // grid-column: 3/5;
        // grid-row: 3/4;
        padding: 20px;
    }

    &__links {
        grid-area: links;

        font-size: 30px;
        position: relative;
        height: 60%;
        @include flexAbsoluteCenter();
        flex-direction: column;
        a {
            padding: 10px;
            color: $color-red;
        }
    }

    &01 {
        background: linear-gradient(0deg, $color-lightpink, $color-white);
    }

    &02 {
        background: linear-gradient(0deg, $color-darkturcoise, $color-white);
    }

    &03 {
        background: linear-gradient(0deg, $color-darkturcoise, $color-white);
    }

    
}

figure {
    max-width: 600px;
      margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    object-fit: contain;
  }