@import '../abstracts/';


.control {

    width: calc(5vh + 5px);
    height: calc(5vh + 5px);
    background-color: $color-darkpink;
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
    @include flexAbsoluteCenter;
    margin: .7rem 0;
 
    i {
        font-size: 1.2rem;
        color: $color-grey;
        pointer-events: none;
    }

    &__link {
        position: relative;
        @include flexAbsoluteCenter;
    }

   
}


