@import '../abstracts/';

.header__controlls {
    display: none;

    @include respond(desktop) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 10%;
        right: -20%;
        z-index: 5;
    }
}

.control {

    width: calc(5vh + 5px);
    height: calc(5vh + 5px);
    background-color: $color-darkpink;
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
    @include flexAbsoluteCenter;
    margin: .7rem 0;
 
    i {
        font-size: 1.2rem;
        color: $color-grey;
        pointer-events: none;
    }

}


.difk {
    width: 50px;
    height: 60px;
    background-color: yellow;
}