@import '../abstracts/index';

.header {
  width: 100%;

  position: relative;
  &__container {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    border: 2px dotted $color-turcoise-dark;
    width: 90vw;
    height: 90vh;
    position: relative;
  }
  // &::before {
  //   position: absolute;
  //   top: 5%;
  //   left: 5%;
  //   width: 90%;
  //   height: 90%;
  //   content: '';
  //   border: 2px dotted $color-turcoise-dark;
  // }
  &__dots {
    width: 100%;
    height: 100%;
    & > * {
      @include flexAbsoluteCenter();
      width: 100%;
      height: 100%;
    }
    display: block;
    .dot {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $color-contrast;
    }
    &-up {
      position: absolute;
      bottom: 10%;
      right: 5%;
      overflow: hidden;
      width: 15%;
      height: 7.5%;
    }

    &-down {
      position: absolute;
      bottom: 6%;
      left: 7%;
      display: block;
      overflow: hidden;
      width: 25%;
      height: 7.5%;
    }
  }

  &__info {
    position: absolute;
    top: 20%;
    left: 7%;
    width: 70%;
    font-size: 13px;
    @include respond(tablet) {
      width: 20%;
      left: 20%;
    }
    &--underline {
      text-decoration: underline;
    }
  }
}
