@import '../abstracts/index';

.header {
    height: 100vh;
    width: 100%;
    background-color: $color-background;

    @include respond(desktop) {
        height: 90vh;
        width: 45%;
    }

    &::before {
        content: '';
        background: $color-lightpink;
        background: linear-gradient(0deg, $color-lightpink, $color-mediumpink);
        display: block;
        width: 70%;
        height: 80%;
        margin-left: 2%;
    }

    &__text.first {
        color: $color-darkpink;
        position: absolute;
        transform: rotate(270deg);
        top: calc(45% - 2vh);
        left: calc(-35% - 2vh);
        text-shadow: $color-white 1px 0 10px;

        @include respond(tablet) {
            top: calc(47% - 5vh);
            left: calc(-30% - 8vh);
        }

        @include respond(desktop) {
            top: calc(30% - 10vh);
            left: calc(-35% - 2vh);
        }

    }

    &__text.second {
        color: $color-white;
        position: absolute;
        transform: rotate(270deg);
        top: calc(45% - 10vh);
        left: -30%;

        @include respond(tablet) {
            left: calc(-25% - 2vh);
        }

        @include respond(desktop) {
            left: calc(-30% - 2vh);
        }
    }

    &__text.third {
        color: $color-grey;
        position: absolute;
        width: 50%;
        top: 55%;
        right: 10%;
        height:7%;
        z-index: 2;
        font-style: italic;
        @include respond(desktop) {
            top: 65%;
        }
    }

    &__text.fourth {
        color: $color-grey;
        position: absolute;
        width: 60%;
        top: 62%;
        right: 0;
        padding: 10px;
        z-index: 2;
        background: $color-lightblue;
        background: linear-gradient(0deg, $color-lightblue, $color-white);
        padding-left: 2%;
        font-style: italic;
        @include respond(desktop) {
            top: 72%;
        }
    }

    &__text.fifth {
        color: $color-grey;
        position: absolute;
        width: 100%;
        top: 83%;
        right: 0;
        text-align: end;
        z-index: 2;
        padding-left: 2%;
        font-style: italic;
        font-weight: bolder;
    }
    &__text.fifth {
        color: $color-grey;
        position: absolute;
        width: 100%;
        top: 83%;
        right: 0;
        text-align: center;
        z-index: 2;
        padding-left: 2%;
        font-style: italic;
        font-weight: bolder;
    }

    &__text.p {
        color: $color-grey;
        position: absolute;
        width: 100%;
        top: 87%;
        right: 0;
        text-align: center;
        z-index: 2;
        padding-left: 2%;
      
    }

    &__image {
        position: absolute;
        left: 35%;
        top: 12%;
        width: 60%;
        height: 40vh;

        @include respond(tablet) {
            width: 45%;
            left: 35%;
            top: 10%;
            height: 45vh;
        
            &::after {
                content: '';
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                left: 25%;
                top: -10%;
                border: 4px dotted $color-darkblue;
                border-radius: 5px;
                z-index: 2;

            }
        }
        @include respond(desktop) {
            width: 45%;
            left: 35%;
            top: 13%;
            height: 45vh;
        
            &::after {
                content: '';
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                left: 25%;
                top: -10%;
                border: 4px dotted $color-darkblue;
                border-radius: 5px;
                z-index: 2;

            }
        }

    }

    &__dots--up {

        display: none;

        @include respond(tablet) {
            position: absolute;
            right: 2%;
            top: 2%;
            display: grid;
            width: 15%;
            height: 7.5%;
            overflow: hidden;

            &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: 0%;
                width: 100%;
                height: 100%;
                background-color: $color-white;
                -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
                clip-path: polygon(0 0, 0 100%, 100% 100%);
            }

            div {
                div {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    width: 100%;
                    height: 100%;
                    padding: 1px 1px;

                    span {
                        width: 5px;
                        height: 5px;
                        background-color: $color-darkpink;
                        display: block;
                        border-radius: 50%;
                    }
                }
            }

        }
    }

    &__dots--down {
        display: none;

        @include respond(tablet) {
            position: absolute;
            bottom: 2%;
            left: 2%;
            display: block;
            overflow: hidden;
            width: 25%;
            height: 7.5%;

            div {
                width: 100%;
                height: 100%;

                div {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    width: 100%;
                    height: 100%;
                    padding: 1px 1px;

                    span {
                        width: 5px;
                        height: 5px;
                        background-color: $color-darkpink;
                        display: block;
                        border-radius: 50%;
                    }
                }
            }

        }
    }

    &__navigation {
        width: 100%;
        height: 10%;
        color: $color-white;
        flex-basis: 70%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
  
        @include respond(max-tablet) {
          .nav__menu.nav__block {
            height: 100vh;
            width: 100%;
            position: absolute;
            top: 0vh;
            left: 0;
            z-index: 2;
            display: block;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-left: 40%;
            background: $color-darkpink 40%;
            &>li {
              margin-bottom: 10px;
  
              a {
                color: $color-white;
                font-weight: bold;
              }
            }
          }
        }
        .nav__menu.nav__hide {
          display: none;
        }
  
        @include respond(desktop) {
          .hamburger {
            display: none;
          }
  
          .nav {
            display: none;
          }
        }
      }
    }
  





    // flex-basis: 70%;
    // display: flex;
    // justify-content: flex-end;
    // align-items: center;


    
  
  

header>* {
    width: 100%;
    box-sizing: border-box;
}











.image.first {
    position: absolute;
    // top: 200px;
    // left: 200px;
    // width: 60%;
}

.div-second {
    border: 2px solid $color-darkblue;
    width: 60%;
    height: 70%;
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: 2
}