@import '../abstracts/index';

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    @include absCenter()
  }
}

.header {
  width: 100%;
  height: 100%;
  position: relative;
  &__info {
    font-size: 18pt;
    line-height: 36pt;
    animation: slideInLeft 0.75s ease both;
    width: 100%;
    &--color {
      color: $color-contrast;
    }
  }
}


