@import '../abstracts/index';

.carousel {
 
  &-slider__nav {
    display: none;
    @include respond(tablet){
      display: block;
       @include flexAbsoluteCenter();
    width: 100%;
    span {
      color: $color-contrast;
      font-size: 30px;
      @include respond(tablet){
        font-size: 40px;
      }
      &:hover {
        color: $color-font-dark;
        cursor: pointer;
      }
    }
    &--prev {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: -7%;
    }
    &--next {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      right: -107%;
    }
    }
  }
  &__wrapper {
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: carousel;
    padding: 20px;
  }

  &__content {
    text-align: justify;
  }

  &--next {
    grid-column: 1/2;
    grid-row: 1/2;
    grid-area: next;
  }

  
 

  &-slider__wrapper {
    width: 40%;
    position: relative;
    color: $color-font-light;
  }

  &-description {
    width: 40%;
  }

  &-slider__image {
    width: 100%;
    height: 100%;
    background-color: $color-font-light;
    cursor: not-allowed;
  }
}