@import '../abstracts/';

.controlls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(50%);
  margin-right: 5%;
  right: 0;
  .control {
    background: linear-gradient(
      0deg,
      $color-font-light,
      $color-contrast
    );
    padding: 15px;
    cursor: pointer;
    @include flexAbsoluteCenter;
    font-size: 1,2rem;
    clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    margin-bottom: 15px;
    &__icon {
      position: relative;
      @include flexAbsoluteCenter;
      @include respond(tablet) {
        padding: 6px;
      }
      color: darken($color-font-dark, 10%);
    }
  }
}
