@import '../abstracts/';

.controlls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0%;
  @include respond(tablet){
      right: 5%;
  } 

  .control {
    padding: 3px;
    margin: 20px;
    background: linear-gradient(
      0deg,
      $color-contrast,
      $color-contrast2
    );
    padding: 6px;
    cursor: pointer;
    @include flexAbsoluteCenter;
    font-size: 0.8rem;

    @include respond(tablet) {
      padding: 6px;
    }

    &__icon {
      position: relative;
      @include flexAbsoluteCenter;
      @include respond(tablet) {
        padding: 6px;
      }
      color: darken($color-font-dark, 10%);
      @include flexAbsoluteCenter;

    }
  }
}
