@import '../abstracts/index';

.headline {
  display: flex;
  flex-direction: column;
  position: absolute;
 
  left: 5%;

    &-h1 {
      text-shadow: $color-font-light 1px 0 10px;
      font-weight: 1000;
      color: $color-contrast2;
    }
    &-h2 {
      display: none;
    }
  
  @include respond(tablet) {
   
 
   
    // transform: rotate(-90deg) translateY(calc(-100% + 5vw)) translateX(calc(20vh - 3vw));
    transform-origin: bottom left;
    white-space: nowrap;
    font-size: 35px;
    letter-spacing: 1.2;

    &-h2 {
      display: block;
      color: $color-font-light;
      z-index: 5;
      font-weight: 800;
      transform: translateY(-10vh);
      text-shadow: $color-contrast 1px 0 10px;
      height: 200px;
    }
  }
}